body {
  background-color: black;
  color: white;
}

.following {
  display: flex;
  flex-direction: row;
}

.card {
  background-color: black;
  color: lightgrey;
}

.profileButtons {
  margin-bottom: 10px;
}

.profileImage {
  height: 75%;
  width: 75%;
  /* display: flex;
  justify-content:space-evenly */
}

.btn {
  background-color: grey;
  color: white;
  border: none;
}


#readMe {
  text-align:left;
  border: 1px solid grey;
  height: fit-content;
  width: 60vw;
  margin-top: 50px;
  padding: 15px;
}

.language {
  color: orange;
}

.favRepoIcons {
  display: flex;
  align-items:center;
  justify-content:space-evenly;
}

.superscript {
  color: red;
}

.optional {
  color: lightgrey;
}

#addFavRepo {
  /* border: 1px lightgrey solid; */
  margin: 5px;
  margin-bottom: 10px;
}

.centerpage {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  /* border: solid black 2px; */
  position: relative;
  min-height: 100vh;
}

#footer{
  width: 100vw;
}

#navbar {
  width: 100vw;
}

#profile {
  margin-top: 50px;
}

#favRepos {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  flex-flow:row wrap;
}

.favRepoCard {
  border: 1px solid lightgrey;
  padding: 5px;
  height: 10rem;
  width: 20rem;
}

.ab {
  width: 60vw;
}

.highlightstext {
  margin-bottom: 20px;
}
