body {
  background-color: black;
  color: white;
}

.card {
  background-color: black;
  color: lightgrey;
}

.form-label {
  color: whitesmoke;
}

.profileImage {
  height: 75%;
  width: 75%;
}

.btn {
  background-color: grey;
  color: white;
  border: none;
}

#centerPage {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

#repoDiv {
  width: 100vw;
  /* border: 1px solid lightgrey;
  padding: 5px; */
}

.repoCard {
  border: 1px solid lightgrey;
  padding: 5px;
  display: flex;
  flex-flow: row;
  width: 50vw;
  margin-left: 25%;
}

#reposCards {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  flex-flow:row wrap;
  width: auto;
}
